# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
roadmap.md
archConsider.md
MoreArchConsiderations.md
foundry-deployment/broadcast/DeployEventSystem.s.sol/11155111/run-1746986905.json
foundry-deployment/broadcast/DeployEventSystem.s.sol/11155111/run-latest.json
